NODE_ENV=
PORT=

# FTP / SFTP
FTP_HOST=
FTP_PORT=
FTP_USERNAME=
FTP_PASSWORD=
FTP_PATH=
SEND_FTP=

# Local report output (dev/test only)
REPORT_PATH=

# Tax percentage (PPN)
PPN_VALUE=

# AWS (S3)
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=

# RabbitMQ
RABBITMQ_URL=
RABBITMQ_QUEUE=
RABBITMQ_QUEUE_CORE=
RABBITMQ_QUEUE_GATEWAY=
RABBITMQ_CA_PATH=
